

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
	height: 100%;
}
.container img { 
	max-width: 100%;
}
.mini.container {
	max-width: 780px !important;
}

.mt {
	margin-top: 50px;
}
.bmt {
	margin-top: 100px;
}
.ml {
	margin-left: 5px;
}
.smt {
	margin-top: 15px;
}
.smb {
	margin-bottom: 15px;
}
/* Navbar */
.navbar-brand>img {
	max-height: 100%;
}
.navbar-default {
	border-bottom: 0px;
}
.navbar {
	margin-bottom: 0px; 
}
.navbar-default .navbar-nav > li > a {
	color: #FFFFFF !important;
}

/* Nav */
.nav .nav {
	padding-left: 15px;
}

/* Text blocks */
.text img {
	max-width: 100%;
}

.alert {
	margin-bottom: 0px;
}

.jumbotron {
	margin-bottom: 0px;
	padding: 100px 0;
}
.jumbotron img {
	width: 1500px;
}

.landing-section {
    padding: 100px 0;
}
.landing-section .btn-simple {
    padding: 0;
}
.landing-section .fa {
	margin-right: 12px;
	color: #EB5E28;
	font-size: 0.8em; 
}

h5, .h5 {
	margin-bottom: 8px;
}


/* The Overlay sliding NAV */
.burger {
	font-size:30px;
	cursor:pointer;
	position: fixed;
	top: 10px;
	left: 20px;
	z-index: 2;
	color: #FF6C20;
}

#logo-s {
	position: fixed;
	left: 50px;
	top: 1px;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: -20px;
	left: 15px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Intro */
#intro {
	width: 100%;
	height: 100%;
	text-align: center;
	background-size: cover;
	background-repeat:no-repeat;
	position: relative;
}

#intro-blurb {
	width: 100%;
	padding: 100px;
	position: absolute;
	top: 0px; 

}

/* event */

.bs-callout {
    padding: 20px;
    border: 1px solid #D8C1AB;
    border-left-width: 5px;
    border-radius: 3px;
    position: relative;
}
.bs-callout-event {
    border-left-color: #D8C1AB;
}
.date, .event-desc {
	display: inline-table;
}
.date {
	text-align: center; 
	margin-right: 25px;
	margin-left: 15px;

}
.bs-callout .btn-simple {
	padding: 0;
}
.bs-callout .fa {
	margin-right: 12px;
	font-size: 0.8em; 
}
.event-num {
	font-size: 30px;
	margin-bottom: -9px;
}
.event-desc {
	position: relative;
    top: -10px;
}
.event-hours {
	margin-left: 15px; 
	font-size: 14px;
	opacity: 0.5;
}


/* Genral elements */

.btn-simple, .btn-simple:hover {
	background-color: transparent;
	border: none;
	color: #EB5E28;
}
.btn-simple:hover {
	font-weight: 700;
}

.alert {
	border-radius: 0px;
}

/* Footer */
.footer {
	margin-top: 50px;
	background-color: #efefef;
	padding-top: 50px; 
	padding-bottom: 50px;
}



